.container{
  display: flex;
  flex-direction: column;
  height: 0;
}
.header{
  flex: 15%
  blackground-color: red
}
.menu{
  flex: 5%
  blackground-color: lightpink
}
.content{
  flex: 70%
  blackground-color: white
}
.footer{
  flex: 10%
  blackground-color: red
}
firame{
  border: none;
  width: 100%
  height: 0;
}

h1 {
  color: red;
}
.f1 {
  color: purple;
 margin-top: 18pt;
 margin-bottom: 12pt;
 font-size: 20pt;
 font-weight: bold
 font-family: "Times New Roman";
 font-style: italic;
}
.f2 {
  color: black;
 margin-top: 8pt;
 margin-bottom: 6pt;
 font-size: 15pt; 
 font-style: normal;
 font-family: "Times New Roman";
}
