h1 {
  color: red;
}
.f1 {
  color: tomato;
 margin-top: 18pt;
 margin-bottom: 12pt;
 font-size: 20pt;
 font-weight: bold
 font-family: "Times New Roman";
 font-style: italic;
}
.f2 {
  color: black;
 margin-top: 8pt;
 margin-bottom: 6pt;
 font-size: 15pt; 
 font-style: normal;
 font-family: "Times New Roman";
}
